<%-include('../partials/head')%>
<body class="bg-white ">
    <!-- Header -->
    <%-include('../partials/nav')%>


    <main class="container mx-auto mt-8 p-8 shadow-md rounded-lg ">
        <h1 class="text-gray-800 font-bold text-3xl mb-6 text-center"><%=editing==true?'Update':'Register'%> your home on Airbnb</h1>
        <form action="<%=editing==true?'/host/editHome':'/host/addHome'%>" method="POST" class=" max-w-md mx-auto">
            <input type="hidden" name="id" value="<%=editing==true?home._id:''%>">
            <input type="text" name="houseName" value='<%= editing==true ? home.houseName:""%>'  placeholder="Enter your house name" class="w-full px-4 py-2 mb-4 border rounded-md focus:outline-none focus:ring-2  ring-red-500">
            <input type="text" name="price" value='<%= editing==true ? home.price:""%>'  placeholder="Enter price per night" class="w-full px-4 py-2 mb-4 border rounded-md focus:outline-none focus:ring-2  ring-red-500">
            <input type="text" name="location" value='<%= editing==true ? home.location:""%>'  placeholder="Location" class="w-full px-4 py-2 mb-4 border rounded-md focus:outline-none focus:ring-2  ring-red-500">
            <input type="text" name="rating" value='<%= editing==true ? home.rating:""%>'  placeholder="Rating" class="w-full px-4 py-2 mb-4 border rounded-md focus:outline-none focus:ring-2  ring-red-500">
            <input type="text" name="photoUrl" value='<%= editing==true ? home.photoUrl:""%>'  placeholder="House photo" class="w-full px-4 py-2 mb-4 border rounded-md focus:outline-none focus:ring-2  ring-red-500">
             <textarea type="text" name="description"   placeholder="Describe your home" class="w-full px-4 py-2 mb-4 border rounded-md focus:outline-none focus:ring-2  ring-red-500"><%= editing==true ? home.description:""%></textarea>
            <input type="submit" value=<%=editing==true?'Update':"Submit"%> class="w-full bg-red-500 text-white  py-2 rounded-md hover:bg-red-600 transition duration-300">
        </form>
    </main>
</body>
</html>